<div class="bg-light border-right" id="sidebar-wrapper"  [ngClass]="status ? 'hide' : 'show'">
    <div class="sidebar-heading" style="color: white;">Menu </div>
    <div class="list-group list-group-flush">
      <a href="providerdashboard" class="list-group-item list-group-item-action">Inbox</a>
      <a href="abouthospital" class="list-group-item list-group-item-action">About</a>
      <a href="#" class="list-group-item list-group-item-action">Overview</a>
      <a href="#" class="list-group-item list-group-item-action">Events</a>
      <a href="#" class="list-group-item list-group-item-action">Profile</a>
      <a href="#" class="list-group-item list-group-item-action">Status</a>
    </div>
  </div>