<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">

  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>
<div *ngIf="flag" class="alert alert-danger d-flex align-items-center" style="        width:auto;
margin-left: 20%;
margin-right: 20%;"role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
  <div>
    No meeting found for Data Collection. Please complete your ongoing meeting or Book a consultation.
  </div>
</div>

<div *ngIf="!flag" class="container ">

<!-- <div class="container "> -->
  <!-- <div class="form-group row justify-content-center"> -->
  
        <div class="card">
          <div class="card-header">
              Schedule an Appointment
            </div>
            <div class="card-body">
              <form [formGroup]="form" (submit)="createAppt()">
  
                  <!-- Name control -->
                  <div class="form-group">
                    <div class="form-group row">
                      <label class=" col-sm-4 col-form-label">
                        Physician*</label>
                      <div class="col-sm-8">
  <!--                     
                          <select formControlName="phy_id" class="form-controls" [ngClass]="{ 'is-invalid': (submitted  && f['description'].errors) || (!f['description'].pristine && f['description'].invalid) }">
  
  
                          </select> -->
                          <ng-select (change)="phySelected($event)" formControlName="phy_id" appendTo="body" placeholder="Search Physician"
                          [ngClass]="{ 'is-invalid': (submitted  && f['phy_id'].errors) || (!f['phy_id'].pristine && f['phy_id'].invalid) }">
                          <ng-option   *ngFor="let items of phyArr" [value]="items">{{items.phyname}}
                        </ng-option></ng-select>
                          <div class="invalid-feedback"
                          *ngIf="(submitted  && f['phy_id'].errors) || (!f['phy_id'].pristine && f['phy_id'].invalid)">
                          <div *ngIf="f['phy_id'].errors?.['required']">Physician Name is required</div>
                      </div>
                      </div>
                  </div>
                  <div class="form-group row">
                    <label class=" col-sm-4 col-form-label">
                      Select meeting*</label>
                    <div class="col-sm-8">
  <!--                     
                        <select formControlName="phy_id" class="form-controls" [ngClass]="{ 'is-invalid': (submitted  && f['description'].errors) || (!f['description'].pristine && f['description'].invalid) }">
  
  
                        </select> -->
                        <ng-select (change)="meetingSelected($event)"  formControlName="meeting" appendTo="body" placeholder="Search Meeting"
                        [ngClass]="{ 'is-invalid': (submitted  && f['meeting'].errors) || (!f['meeting'].pristine && f['meeting'].invalid) }">
                        <ng-option   *ngFor="let items of meetingArr" [value]="items.meetId">{{items.meetId}}
                      </ng-option></ng-select>
                        <div class="invalid-feedback"
                        *ngIf="(submitted  && f['meeting'].errors) || (!f['meeting'].pristine && f['meeting'].invalid)">
                        <div *ngIf="f['meeting'].errors?.['required']">Meeting Id is required</div>
                    </div>
                    </div>
                </div> 
                  <div class="form-group row">
                      <label class=" col-sm-4 col-form-label">
                       Meeting Title*</label>
                      <div class="col-sm-8">
              
                          <input type="text" formControlName="Subject" class="form-control" 
                          [ngClass]="{ 'is-invalid': (submitted  && f['Subject'].errors) || (!f['Subject'].pristine && f['Subject'].invalid) }"
                          readonly>
                          <div class="invalid-feedback"
                          *ngIf="(submitted  && f['Subject'].errors) || (!f['Subject'].pristine && f['Subject'].invalid)">
                          <div *ngIf="f['Subject'].errors?.['required']">Title cannot be empty.</div>
                          <div *ngIf="f['Subject'].errors?.['minlength']">Please must be 2 charecters atleast</div>
                      </div>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label class=" col-sm-4 col-form-label">
                        Description*</label>
                      <div class="col-sm-8">
              
                          <textarea readonly type="text" formControlName="description" class="form-control" 
                          [ngClass]="{ 'is-invalid': (submitted  && f['description'].errors) || (!f['description'].pristine && f['description'].invalid) }"
                          ></textarea>
                          <div class="invalid-feedback"
                          *ngIf="(submitted  && f['description'].errors) || (!f['description'].pristine && f['description'].invalid)">
                          <div *ngIf="f['description'].errors?.['required']">Description cannot be empty</div>
                          <div *ngIf="f['description'].errors?.['minlength']">Please don’t use abbreviations</div>
                      </div>
                      </div>
                  </div>


                  <!-- <div class="form-group row">
                      <label class=" col-sm-4 col-form-label">
                        Physician*</label>
                      <div class="col-sm-8">
              
                          <select formControlName="phy_id" (selected)="phySelected()" class="form-controls" [ngClass]="{ 'is-invalid': (submitted  && f['description'].errors) || (!f['description'].pristine && f['description'].invalid) }">
                            <option value="none">Select option</option>
                            <option value="1">S Khan</option>
                            <option value="2">V.S. Subramanium</option>
                            <option value="3">Ashoknath Vijay</option>
                            <option value="4">P.S. MURMU</option>
                          </select>
                          <div class="invalid-feedback"
                          *ngIf="(submitted  && f['phy_id'].errors) || (!f['phy_id'].pristine && f['phy_id'].invalid)">
                          <div *ngIf="f['phy_id'].errors?.['required']">Relationship is required</div>
                      </div>
                      </div>
                  </div> -->


                  <!-- <div *ngFor="let item of phyArr ">
                    <p>{{ item.firstname }}</p>
                   
                </div> -->
                  <div class="form-group row">
                      <label class=" col-sm-4 col-form-label">
                        Date*</label>
                      <div class="col-sm-8">
              
                          <input type="date" [min]="now" formControlName="dateofappointment" class="form-control" placeholder="Enter name" (change)="dateSelected()"
                          [ngClass]="{ 'is-invalid': (submitted  && f['dateofappointment'].errors) || (!f['dateofappointment'].pristine && f['dateofappointment'].invalid) }"
                          >
                          <div class="invalid-feedback" 
                          *ngIf="(submitted  && f['dateofappointment'].errors) || (!f['dateofappointment'].pristine && f['dateofappointment'].invalid)">
                          <div *ngIf="f['dateofappointment'].errors?.['required']">dateofappointment cannot be blank</div>
                          <div *ngIf="f['dateofappointment'].errors?.['dateofappointment']">Incorrect dateofappointment format</div>                           </div>
                  </div>
                  </div>
                  <div class="form-group row">
                      <label class=" col-sm-4 col-form-label">
                        Available slots*</label>
                      <div class="col-sm-8">
              
                          <select formControlName="available_slot" class="form-controls" (change)="updateTime($event)" [ngClass]="{ 'is-invalid': (submitted  && f['available_slot'].errors) || (!f['available_slot'].pristine && f['available_slot'].invalid) }">
                              <option *ngFor="let slots of timeSlots" [value]="slots.key" >{{slots.value}}</option>  
                          </select>                            
                          
                          <div class="invalid-feedback"
                          *ngIf="(submitted  && f['available_slot'].errors) || (!f['available_slot'].pristine && f['available_slot'].invalid)">
                          <div *ngIf="f['available_slot'].errors?.['required']">Name is required</div>
                      </div>
                      </div>
                  </div>
                  <div class="alert alert-danger" role="alert" *ngIf="!!message">
                    {{message}}
                  </div>
                  <div class="form-group text-center">
                      <button type="submit"   [disabled]="!form.valid || disablebutton" class="btn btn-success btn-sm">Submit</button>
                  </div>
                </div>
          
              </form>
                </div>
                </div>
            
                <!-- </div> -->
  
              </div>
              