<!-- <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Meeting Id</th>
        <th scope="col">Meeting Title</th>
        <th scope="col">Description</th>
        <th scope="col">Physician Name</th>
        <th scope="col">Patient Name</th>
        <th scope="col">Date of Appointment</th>
        <th scope="col">Appointment type</th>
        <th scope="col">start time</th>
        <th scope="col">End time</th>
        <th scope="col">status</th>
        <th scope="col">changedby</th>
        <th scope="col">ModifiedTime</th>
        
        
      </tr>
    </thead>
    <tbody>
       
      <tr *ngFor="let data of appointments2">
          
          <td>{{data.meetId}}</td>
       
        <td>{{data.description}}</td>
        <td>{{data.phyname}}</td>
        <td>{{data.patientname}}</td>
        <td>
            <span *ngIf="data.apptDt===today" class="badge bg-success"> {{data.apptDt}}</span>
            <span *ngIf="data.apptDt!==today" class="badge bg-primary"> {{data.apptDt}}</span>
          </td>
        <td>{{data.apptType}}</td>
        <td>{{data.apptFrTime}}</td>
        <td>{{data.apptToTime}}</td>
        <td>{{data.status}}</td>
<td>{{data.changedbyId}}</td>

       
       
      </tr>
      
    </tbody>
  </table> -->
  <br>
  <h1> <span class="badge badge-warning">Notifications</span></h1>
  <ng-container >
  <!-- <div style=" margin-right: 35%;" *ngIf="data.status=='reschedule'"class="alert alert-info" role="alert">
      Your appointment has been rescheduled to <strong>{{data.apptDt}}</strong>
      having time slot <strong>{{data.apptFrTime}} - {{data.apptToTime}}</strong>
    </div>
  
  <div *ngIf="data.status=='decline'"class="alert alert-danger" role="alert">
      Your appointment dated <strong>10-04-2022</strong> was Declined.
    </div> -->
    <div class="container">
        <div *ngFor="let data of appointments2">
          <ngb-toast style="color: cornflowerblue; width: auto;" ng-if="data.reason.includes(reschedule)" header="Reschedule Notification - Updated at : {{data.modifiedTs}}" [autohide]="false">
            Your appointment with Meeting Id <strong> {{data.meetId}}</strong> has been rescheduled to <strong>{{data.apptDt}}</strong>
            having time slot <strong>{{data.apptFrTime}} - {{data.apptToTime}}</strong>
          </ngb-toast>
          <ngb-toast style="color: red; width: auto;" *ngIf="data.status=='decline'"  header="Decline Notification - Updated at : {{data.modifiedTs}}" [autohide]="false">
            <h5>Your appointment dated <strong>{{data.apptFrTime}} - {{data.apptToTime}}</strong> was Declined with Meeting Id: <strong> {{data.meetId}}</strong>   </h5>
          </ngb-toast>
            <br>
  
      </div>
  
    </div>
  
  
  </ng-container>
  
  
  