
.card-header{
    background-color: rgb(30,129,176)
    ;
    font-size: 20px;
    color: white;
    font-weight: 700;

}
label{
    font-weight: 500;

}

.form-group{
    

    margin-top: 10px;
}

.ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input {

  font-size: 0.85rem;

  display: block;

  height: 2.1875rem;

  padding: 0.375rem 0.7rem;

  font-weight: 400;

  line-height: 1.52857143;

  color: #495057;

  border: 1px solid #d3d7d8;

  border-radius: 0.25rem;

}
/* table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 12%;
  }
   */


  .container{
    max-width: 1200px;
    margin: 0 auto;
  }

 .center {
    margin-left: auto;
    margin-right: auto;
  }
  table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }
  th, td {
    background-color: #96D4D4;
  } 
@media only screen   
and (min-device-width : 360px)   
and (max-device-width : 640px)  
{ 
    .container {
        margin-left: 0;
        margin-right: 0;
        max-width: 80% !important;
      }
}

/* For 1024 Resolution */  
@media only screen   
and (min-device-width : 641px)   
and (max-device-width : 1024px)  
{ 
    .container {
        margin-left: 0;
        margin-right: 0;
        max-width: 80% !important;
      }
}  

 

/* For 1366 Resolution */  
@media only screen   
and (min-width: 1025px)   
and (max-width: 2000px)  
{ 
    .container{
        width:auto;
        margin-left: 30%;
        margin-right: 30%;
    }
}  
.card{
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
 
}

.btn{
    background-color: rgb(30,129,176);
}
.ng-autocomplete {
  width: 240px;
}
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
  background-color: lightblue;
}
.mat-row {
  height: auto;
}
.mat-header-cell{
  padding: 10px;
}
.mat-cell {
  padding: 13px;
}
.card-header{
  background-color: rgb(30,129,176)
  ;
  font-size: 20px;
  color: white;
  font-weight: 700;

}
label{
  font-weight: 500;

}

.form-group{
  

  margin-top: 10px;
}

/* table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 12%;
}
 */


.container{
  max-width: 1200px;
  margin: 0 auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
}
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  background-color: #96D4D4;
} 
@media only screen   
and (min-device-width : 360px)   
and (max-device-width : 640px)  
{ 
  .container {
      margin-left: 0;
      margin-right: 0;
      max-width: 80% !important;
    }
}

/* For 1024 Resolution */  
@media only screen   
and (min-device-width : 641px)   
and (max-device-width : 1024px)  
{ 
  /* .container {
      margin-left: 0;
      margin-right: 0;
      max-width: 80% !important;
    } */
    .container{

      padding: 0;

      margin: 0;

  }
}  


/* For 1366 Resolution */  
@media only screen   
and (min-width: 400px)   
and (max-width: 400px)  
{ 
  /* .container{
      width:auto;
      margin-left: 30%;
      margin-right: 30%;
  } */

  .container{

      padding: 0;

      margin: 0;

  }
}  
.card{
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);

}

.btn{
  background-color: rgb(30,129,176);
}
.ng-autocomplete {
  width: 500px;
}