<!-- <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
</style>
</head>
<body>

<h2>Tabs</h2>
<p>Click on the buttons inside the tabbed menu:</p>

<div class="tab">
  <button class="tablinks" onclick="openCity()">London</button>
  <button class="tablinks" onclick="openCity(event, 'Paris')">Paris</button>
  <button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button>
</div>

<div id="London" class="tabcontent">
  <h3>London</h3>

  <p>London is the capital city of England.</p>
</div>

<div id="Paris" class="tabcontent">
  <h3>Paris</h3>
  <p>Paris is the capital of France.</p> 
</div>

<div id="Tokyo" class="tabcontent">
  <h3>Tokyo</h3>
  <p>Tokyo is the capital of Japan.</p>
</div>

   
</body>
</html>  -->

  <div mat-align-tabs="center">
  <tabset #tabset >
    <tab 
      heading="Demographic Details"
      ></tab>
  
    <tab
      heading="Vitals"
      >
<br>
      <div mat-dialog-action [align]="'center'">

        <button mat-raised-button  (click)="addvitals()" style="color:rgb(238, 238, 247); background-color: rgb(25, 160, 160); box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); margin-left: auto;margin-right: auto;">Add Vital Details</button>

      </div>
      <br>
      <br>
      <table class="center" border="1" cellspacing="0" cellpadding="10px">
          
        <thead>
            <th>
                PatientName
            </th>
            <th>
                TakenBy
            </th>
            <th>
                Height
            </th>
            <th>
                Weight
            </th>
            <th>
                BloodPressure
            </th>
            <th>
                BodyTemperature
            </th>
            <th>
               Respirationrate
            </th>
        </thead>
        <tbody>
            <ng-container *ngFor='let patient of appointmentdetail';>
            
            <tr>
                    <td>
                        {{patient.first_name}}
                    </td>
                    <td>
                        {{patient.physician}}
                    </td>
                    <td>
                        {{patient.height}}
                    </td>
                    <td>
                        {{patient.weight}}
                    </td>
                    <td>
                        {{patient.bloodpressure}}
                    </td>  
                    <td>
                        {{patient.bodytemperature}}
                    </td>        
                    <td>
                        {{patient.respirationrate}}
                    </td>      
                              
                </tr>

            </ng-container>
            <tr *ngIf="!appointmentdetail || appointmentdetail.length==0">
                <td colspan="7">
                    No patients to display
                </td>
            </tr>
    
        </tbody>
    </table> </tab>
 
        <!-- <tab
      heading="Diagnosis">
      <br>
      <div mat-dialog-action [align]="'center'">

        <button class="center" mat-raised-button color="accent" (click)="addDiagnosis()" style="color:rgb(238, 238, 247); background-color: rgb(25, 160, 160); box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); margin-left: auto;margin-right: auto;">Add Diagnosis </button>
       
      </div>
    
      <br>
      <br>

    <table class="center" border="1" cellspacing="0" cellpadding="10px">
        
      <thead>
          <th>
              Diagnosis Code
          </th>
          <th>
            Diagnosis Description
          </th>
          <th>
            Diagnosis_Is_Depricated
          </th>
      </thead>
      <tbody>
          <ng-container *ngFor='let dic of posts';>
          
          <tr>
                  <td>
                      {{dic.diagnosisCode}}
                  </td>
                  <td>
                      {{dic.diagnosisDescription}}
                  </td>
                  <td>
                      {{dic.diagnosisIsDepricated}}
                  </td>
                      
                            
              </tr>

          </ng-container>
          <tr *ngIf="!diagnolist || diagnolist.length==0">
              <td colspan="7">
                  No Diagnosis to display
              </td>
          </tr>
  
      </tbody>
  </table> 
    </tab>
  
        <tab
      heading="Procedure">
      <br>
      <div mat-dialog-action [align]="'center'">
         

        <button class="center" mat-raised-button color="accent" (click)="addProcedure()" style="color:rgb(238, 238, 247); background-color: rgb(25, 160, 160); box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); margin-left: auto;margin-right: auto;">Add Procedure </button>

      </div>
      <br>
      <br>
      <table class="center" border="1" cellspacing="0" cellpadding="10px">
        
        <thead>
            <th>
                Procedure Code
            </th>
            <th>
                Procedure Description
            </th>
            <th>
                 Procedure_Is_Depricated
            </th>
        </thead>
        <tbody>
            <ng-container *ngFor='let proc of posts1';>
            
            <tr>
                    <td>
                        {{proc.procedureCode}}
                    </td>
                    <td>
                        {{proc.procedureDescription}}
                    </td>
                    <td>
                        {{proc.procedureIsDepricated}}
                    </td>
                        
                              
                </tr>

            </ng-container>
            <tr *ngIf="!posts1 || posts1.length==0">
                <td colspan="7">
                    No procedure to display
                </td>
            </tr>
    
        </tbody>
    </table> 
    </tab>

      <tab
      heading="Medication"
      ><br>
      <div mat-dialog-action [align]="'center'">

        <button mat-raised-button  (click)="addMedication()" style="color:rgb(238, 238, 247); background-color: rgb(25, 160, 160); box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); margin-left: auto;margin-right: auto;">Add Medication</button>

      </div>
      <br>
      <br>
       <table class="center" border="1" cellpadding="10px" cellspacing="0px">
        <thead>
            <th>
                Drug_ID
            </th>
            <th>
                Drug_Name
            </th>
            <th>
                Drug_Generic_Name
            </th>
            <th>
                Drug_Brand_Name
            </th>
            <th>
                Drug_Form
            </th>
        </thead>
        <tbody> 
             <tr *ngFor='let employee of medicationoutdetail'>
                <td>
                    {{employee.drug_id}}
                </td>
                <td>
                    {{employee.drug_name}}
                </td>
                <td>
                    {{employee.drug_generic_name}}
                </td>
                <td>
                    {{employee.drug_brand_name}}
                </td>
                <td>
                    {{employee.drug_generic_name}}
                </td>                     
            </tr>
            <tr *ngIf="!medicationoutdetail || medicationoutdetail.length==0">
                <td colspan="5">
                    No medicationdetails to display
                </td>
            </tr>
        </tbody> 
   </table> 
   <br>
   <br>
   <div mat-dialog-action [align]="'center'">

    <button mat-raised-button   style="color:rgb(238, 238, 247); background-color: rgb(25, 160, 54); box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); margin-left: auto;margin-right: auto;">Done</button>

  </div>
    </tab> -->
  </tabset>
</div>
  