<div class="bg-light border-right" id="sidebar-wrapper"  [ngClass]="status ? 'hide' : 'show'">
    <div class="sidebar-heading" style="color: white;">Menu </div>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action">Dashboard</a>
      <a href="/patient-details" class="list-group-item list-group-item-action">Patient Details</a>
      <a href="#" class="list-group-item list-group-item-action">Overview</a>
      <a href="#" class="list-group-item list-group-item-action">Events</a>
      <a href="#" class="list-group-item list-group-item-action">Profile</a>
      <a href="#" class="list-group-item list-group-item-action">Status</a>
    </div>
  </div>