<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="container">
    <div class="row">
        <div class="text-center">
            <h3><i class="fa fa-lock fa-4x"></i></h3>
            <h2 class="text-center">Reset Password</h2>
            <p>You need to reset your Password</p>
            <div class="panel-body">
                <form [formGroup]="form" (ngSubmit)="changePassword()">

                    <div class="form-group required">
                        <div class="form-group row">
                           
                            <div class="col-sm-12">
    
                                <input type="text" formControlName="email" class="form-control" placeholder="Enter Email" [attr.disabled]="true"
                                    [ngClass]="{ 'is-invalid': (submitted  && f['email'].errors) || (!f['email'].pristine && f['email'].invalid) }">
                                <div class="invalid-feedback"
                                    *ngIf="(submitted  && f['email'].errors) || (!f['email'].pristine && f['email'].invalid)">
                                    <div *ngIf="f['email'].errors?.['required']">Email cannot be empty.</div>
                                    <div *ngIf="f['email'].errors?.['email']">Please enter your email address e.g.
                                        exampleusername@xyzdomain,com</div>
                                </div>
                            </div>
                        </div>
    <div class="form-group row">
                            
                            <div class="col-sm-12">
    
                                <input type="password" name="password" formControlName="password" class="form-control"
                                    placeholder="Enter Password"
                                    [ngClass]="{ 'is-invalid': (submitted  && f['password'].errors) || (!f['password'].pristine && f['password'].invalid) }">
                                <div class="invalid-feedback"
                                    *ngIf="(submitted  && f['password'].errors) || (!f['password'].pristine && f['password'].invalid)">
                                    <div *ngIf="f['password'].errors?.['required']">Password cannot be empty
                                    </div>
                                    <!-- <div *ngIf="f['password'].errors?.['pattern']">Password is weak. Please re-enter the password with a minimum of one Uppercase letter, one lowercase letter, one number and minimum length of 8 characters
                                </div> -->
                                    <div *ngIf="f['password'].errors?.['minlength']">Minimum 6 characters required</div>
                                </div>
                            </div>
                        </div>
    
                        <div class="form-group row">
                            
                            <div class="col-sm-12">
    
                                <input type="password" name="confirmpassword" formControlName="confirmpassword"
                                    class="form-control" placeholder="Enter Confirmed Password"
                                    [ngClass]="{ 'is-invalid': (submitted  && f['confirmpassword'].errors) || (!f['confirmpassword'].pristine && f['confirmpassword'].invalid) }">
                                <div class="invalid-feedback"
                                    *ngIf="(submitted  && f['confirmpassword'].errors) || (!f['confirmpassword'].pristine && f['confirmpassword'].invalid)">
                                    <div *ngIf="f['confirmpassword'].errors?.['required']">Password cannot be empty</div>
                                    <div *ngIf="f['confirmpassword'].errors?.['m']">Passwords do not match. Please re-enter
                                        the password”</div>
                                </div>
                            </div>
                        </div>
     




                       

                       
                       


                    </div>
                    <div class="form-group">
                        <!-- <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit"> -->
                        <input type="submit" name="Signup" value="Reset Password"
                            class="btn btn-primary btn btn-info" id="submit-id-signup" />
                    </div>

                    <!-- <input type="hidden" class="hide" name="token" id="token" value="">  -->
                </form>

            </div>
        </div>
    </div>
</div>