   


   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Day</th>
              <th scope="col">Article Name</th>
              <th scope="col">Author</th>
              <th scope="col">Shares</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Appointment 1</td>
              <td>Appointment 2</td>
              <td>Appointment 3</td>
              <td>
                <a href="vitalsmodal" class="button">Link Button</a>
                
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Bootstrap Grid 4 Tutorial and Examples</td>
              <td>Cristina</td>
              <td>3.417</td>
              <td>
                <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Bootstrap Flexbox Tutorial and Examples</td>
              <td>Cristina</td>
              <td>1.234</td>
              <td>
                <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> 