<!DOCTYPE html>
<html lang="en">
    <head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <title>Bootstrap - Image gallery 2</title>
  <style>
    figure {
      margin: 15px 0;
    }
  
    figcaption {
      text-align: center;
      height: fit-content;
      font-family: 'Times New Roman', Times, serif;
      font-weight: 400;
      font-style: italic;
    }
  
    .grayscale {
      filter: grayscale(0);
    }
  
    .grayscale:hover {
      filter: grayscale(50%)
    }
    .jumbotron{
        background-color: aquamarine;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
    }
  </style>
</head>

<body>
  <div class="container-fluid">

    <div class="jumbotron" style="background-color: rgba(61, 234, 225, 0.36);font-family: Georgia, 'Times New Roman', Times, serif;">
      <h1 class="text-center">Specializations</h1>
      <p class="text-center">Welcome to ct general Hospital</p>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <figure>
          <img src="https://media.istockphoto.com/photos/child-and-adult-holding-red-heart-with-stethoscope-heart-health-picture-id953685706?b=1&k=20&m=953685706&s=170667a&w=0&h=zFqu6KGnvXTrmxG9dosuFgSkbIXD-lSFwwlcz-7KXOs=" class="img-thumbnail grayscale">
          <figcaption><a href="https://www.askapollo.com/specialitypages/specialty/cardiology?utm_source=paid&utm_medium=CPC&utm_campaign=TM-Cardiologist_COE_Search&utm_content=coe&utm_source=paid&utm_medium=googleads&utm_campaign=12254781820&utm_adgroup=116804712669&utm_term=cardiology%20specialist&creative=496305183963&device=c&devicemodel=&matchtype=p&feeditemid=&targetid=kwd-431073848549&network=g&placement=&adposition=&GA_loc_interest_ms=&GA_loc_physical_ms=9061948">Cardiologist</a></figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <figure>
          <img src="https://media.istockphoto.com/photos/eye-doctor-with-female-patient-during-an-examination-in-modern-clinic-picture-id1189362136?b=1&k=20&m=1189362136&s=170667a&w=0&h=rWKAcwL9QhkSTSLOCwUg2cZ0-3k5cR-jMBWCHMnq8aQ=" class="img-thumbnail grayscale">
          <figcaption>Eye Specialist</figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <figure>
          <img src="https://media.istockphoto.com/photos/cybernetic-brain-picture-id1098180990?k=20&m=1098180990&s=612x612&w=0&h=l3rtRRnEGdLez_H6CZSF0WpBPOlqh2ewFTO_c5AMSNU="  class="img-thumbnail grayscale">
          <br>
          <br>
          
          <figcaption>Neurology</figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <figure>
          <img src="https://media.istockphoto.com/photos/adult-and-child-hands-holding-purple-ribbons-alzheimers-disease-picture-id1169661256?k=20&m=1169661256&s=612x612&w=0&h=wb9hfflurUTnw0MLX-LMTD_6Mt7WloctVqhX77iXB4U=" class="img-thumbnail grayscale">
          <figcaption>Cancer specialist</figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <figure>
          <img src="https://media.istockphoto.com/photos/one-day-in-the-clinic-of-aesthetic-medicine-picture-id689027030?k=20&m=689027030&s=612x612&w=0&h=j5zbr4zX7A-yyrzBDpw3bHAPaf3QzT2urNPsizJ-qL4=" class="img-thumbnail grayscale">
          <figcaption>Skin Specialist</figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <figure>
          <img src="https://media.istockphoto.com/photos/mid-section-of-man-suffering-with-knee-pain-picture-id804154084?k=20&m=804154084&s=612x612&w=0&h=kGhwVdwxgtb1XMQRng-I9D_p2qhSS1LvjwWCPp1T6As=" class="img-thumbnail grayscale">
          <figcaption>Orthopedic surgeon</figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <figure>
          <img src="https://media.istockphoto.com/photos/oncology-patient-picture-id1333284460?k=20&m=1333284460&s=612x612&w=0&h=fvv2mFEH4Q-9kVn-2hGt-6flnbyvAuQ3NOmocGkRWPM=" class="img-thumbnail grayscale">
          <figcaption>Oncologists</figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <figure>
          <img src="https://media.istockphoto.com/photos/that-tickles-picture-id143922192?k=20&m=143922192&s=612x612&w=0&h=5MyPU2SImikWYb2MN-m7ZzT5ELx9JlLKon6r_urzoGc=" width="90%" class="img-thumbnail grayscale">
          <figcaption>Pediatrician</figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <figure>
          <img src="https://media.istockphoto.com/photos/young-girl-with-a-problem-skin-photo-before-and-after-treatment-for-picture-id1140170080?k=20&m=1140170080&s=612x612&w=0&h=r06fngu6yyqiRH09eamCCpoAbONDBMBbCRQfcgJ1m90=" class="img-thumbnail grayscale">
          <figcaption>Dermatology</figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <figure>
          <img src="https://media.istockphoto.com/photos/urologist-doctor-giving-consult-for-prostate-problems-to-patient-picture-id1072755960?k=20&m=1072755960&s=612x612&w=0&h=DMKWyRYPQZ_sCLW9K7r-UjDl2qiDzcUarsK6ohdsVU8=" width="90%" class="img-thumbnail grayscale">
          <figcaption>psychiatry</figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <figure>
          <img src="https://media.istockphoto.com/photos/closeup-medical-syringe-with-a-vaccine-picture-id1027752634?k=20&m=1027752634&s=612x612&w=0&h=1HyytXTd_5Oc-gVKCkM7a3T3joP--pi7guxKJyJ5Nf4=" width="90%" class="img-thumbnail grayscale">
          <figcaption>Anesthesialogy</figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <figure>
          <img src="https://media.istockphoto.com/photos/dental-care-concept-picture-id957733826?k=20&m=957733826&s=612x612&w=0&h=i580UZe4BpJOiE1GkSgzvzgoOs0xqGzDDL8g3teHv5A=" width="90%"  class="img-thumbnail grayscale">
          <figcaption>Dental</figcaption>
        </figure>
      </div>
    </div>
  </div>

</body>

</html>
